---
apiVersion: v1
kind: Service
metadata:
  name: backend-data-task
spec:
  selector:
    app: backend-data-task
  ports:
    - name: http
      port: 8801
      targetPort: 8801
      protocol: TCP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-data-task
  labels:
    app: backend-data-task
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-data-task
  template:
    metadata:
      labels:
        app: backend-data-task
    spec:
      volumes:
        - name: dubhe-vol
          hostPath:
            path: {{ .Values.dubhe.hostPath }}
        - name: dubhe
          configMap:
            defaultMode: 0755
            name: dubhe
      initContainers:
        - name: wait-for-mysql
          image: "{{ .Values.dubhe.initContainers.infra.image.repository }}:{{ .Values.dubhe.initContainers.infra.image.tag }}"
          command: 
          - 'sh'
          - '-c'
          - |
            set -x
            until nc -z dubhe-mysql 3306; do
              echo "Waiting for service to be ready..."
              sleep 5
            done
            echo "Service is ready."
        - name: wait-for-nacos
          image: "{{ .Values.dubhe.initContainers.infra.image.repository }}:{{ .Values.dubhe.initContainers.infra.image.tag }}"
          command: 
          - 'sh'
          - '-c'
          - |
            set -x
            until  wget -q http://nacos:8848/nacos -O /dev/null; do
              echo "Waiting for service to be ready..."
              sleep 5
            done
            echo "Service is ready."
      containers:
        - name: backend-data-task
          image: "{{ .Values.dubhe.image.host }}/{{ .Values.dubhe.image.repository }}/dubhe-data-task:{{ .Values.dubhe.image.tag }}"
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: dubhe-vol
              mountPath: /nfs
            - name: dubhe
              mountPath: /app/bootstrap-prod.yml
              subPath: bootstrap-prod.yml
          # ports:
          #   - name: http
          #     containerPort: 8801
          #     protocol: TCP
          # livenessProbe:
          #   initialDelaySeconds: 90
          #   periodSeconds: 10
          #   timeoutSeconds: 5
          #   tcpSocket:
          #     port: 8801
          # readinessProbe:
          #   initialDelaySeconds: 5
          #   periodSeconds: 10
          #   timeoutSeconds: 5
          #   tcpSocket:
          #     port: 8801
          env:
            - name: TZ
              value: "Asia/Shanghai"
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
