---
apiVersion: v1
kind: Service
metadata:
  name: backend-model-converter
spec:
  type: NodePort
  selector:
    app: backend-model-converter
  ports:
    - name: http
      port: 8821
      targetPort: 8821
      protocol: TCP
      nodePort: 32230

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-model-converter
  labels:
    app: backend-model-converter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-model-converter
  template:
    metadata:
      labels:
        app: backend-model-converter
    spec:
      volumes:
        - name: dubhe-vol
          hostPath:
            path: {{ .Values.dubhe.hostPath }}
        - name: dubhe
          configMap:
            defaultMode: 0755
            name: dubhe
      containers:
        - name: backend-model-converter
          image: "{{ .Values.dubhe.image.host }}/{{ .Values.dubhe.image.repository }}/model-converter:{{ .Values.dubhe.image.tag }}"
          # image: "registry.cn-hangzhou.aliyuncs.com/enlin/model-converter:v1"
          imagePullPolicy: IfNotPresent
          command:
            - /bin/bash
          args:
            - -c
            - "python /app/main.py" 
          volumeMounts:
            - name: dubhe-vol
              mountPath: /model
              subPath: dubhe-prod/model
            - name: dubhe
              mountPath: /app/bootstrap-prod.yml
              subPath: bootstrap-prod.yml
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            httpGet:
              path: /hello
              port: 8080
              scheme: HTTP
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            httpGet:
              path: /hello
              port: 8080
              scheme: HTTP
          env:
            - name: TZ
              value: "Asia/Shanghai"
            # - name: SPRING_PROFILES_ACTIVE
            #   value: "prod"
