---
apiVersion: batch/v1
kind: Job
metadata:
  name: minio-init
spec:
  template:
    spec:
      restartPolicy: OnFailure
      initContainers:
        - name: wait-for-service
          image: docker.io/buxiaomo/curl:latest
          imagePullPolicy: IfNotPresent
          command: 
          - 'sh'
          - '-c'
          - |
            set -x
            until curl -sf http://minio:9000/minio; do
              echo "Waiting for service to be ready..."
              sleep 5
            done

            echo "Service is ready."
      containers:
        - name: mc
          image: "{{ .Values.minio.mc.image.repository }}:{{ .Values.minio.mc.image.tag }}"
          imagePullPolicy: IfNotPresent
          command:
          - /bin/sh
          - -c
          - |
            set -xe
            mc alias set admin http://minio:9000  "{{ .Values.minio.accesskey }}" "{{ .Values.minio.secretkey }}"
            mc mb admin/dubhe-prod
            mc policy set public admin/dubhe-prod
