apiVersion: v1
kind: ConfigMap
metadata:
  name: dubhe
data:
  bootstrap-prod.yml: |-
    spring:
      cloud:
        nacos:
          username: nacos
          password: nacos
          context-path: /nacos
          config:
            namespace: dubhe-prod
            server-addr: nacos:8848
          discovery:
            namespace: dubhe-prod
            server-addr: nacos:8848
